<div id="page-top" style="width: 100%;">
    <!-- Page Wrapper -->
    <!--<div id="wrapper">-->
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- START 測試 Vue -->
        <div v-for="(item, index) in menuRoutes">
        <li class="nav-item" v-if="item.children.length == 0">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>{{item.name}}</span>
                <span>{{item.children.length}}</span>
            </a>
        </li>

        <li v-if="item.children.length > 0" class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" :data-target="'#'+item.dataTargetName" aria-expanded="true">
                <i class="fas fa-fw fa-cog"></i>
                <span>{{item.name}}</span>
                <span>{{item.children.length}}</span>
            </a>
            <div :id="item.dataTargetName" class="collapse" aria-labelledby="headingTwo"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a v-for="(item, index) in item.children" class="collapse-item">{{item.childrenName}}</a>
                </div>
            </div>
        </li>
</div>


<!-- END 測試 Vue -->
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

        </ul>
<!-- End of Sidebar -->
<!-- Topbar -->
<div id="navHeader" style="position:absolute; left:0; right:0; padding-left:224px; top: 0;">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="~/img/undraw_profile_1.svg"
                                 alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">
                                Hi there! I am wondering if you can help me with a
                                problem I've been having.
                            </div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="~/img/undraw_profile_2.svg"
                                 alt="...">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                I have the photos that you ordered last month, how
                                would you like them sent to you?
                            </div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="~/img/undraw_profile_3.svg"
                                 alt="...">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Last month's report looks great, I am very happy with
                                the progress so far, keep up the good work!
                            </div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                 alt="...">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">
                                Am I a good boy? The reason I ask is because someone
                                told me that people say this to all dogs, even if they aren't good...
                            </div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                    <img class="img-profile rounded-circle"
                         src="~/img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        登出
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- Begin Page Content 內容-->
    <!-- <div class="container-fluid" id="test">
        </div>-->
    <!-- /.container-fluid 內容-->
</div>
<!-- End of Topbar -->
<!-- </div>-->
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">確定要登出了嗎 ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">登出即清除您的登入資訊 ~ 不用擔心喔 ~</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                <a class="btn btn-primary" v-on:click="logout()">登出</a>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    const subMenu = Vue.createApp({
        data() {
            return {
                message: 'Hello Vue 3.0',
                // message2: '第二個訊息',

                menuRoutes: [{
                    path: '/blank',
                    name: '個人資料',
                    dataTargetName: '',
                    children: [/** 子選單 */]
                }, {
                    path: '',
                    name: '用戶管理',
                    dataTargetName: 'collapseAdmin',
                    children: [{
                        path: '/',
                        childrenName: '1.用戶列表',
                        isactive: true,
                    }, {
                        path: '/',
                        childrenName: '2.添加用戶',
                        isactive: false,
                    }, {
                        path: '/',
                        name: '3....',
                        isactive: false,
                    }, {
                        path: '/',
                        name: '4....',
                        isactive: false,
                    }]
                }, {
                    path: '',
                    name: '課堂管理',
                    dataTargetName: 'collapseClass',
                    children: [{
                        path: '/',
                        childrenName: '1.學生列表',
                        isactive: true,
                    }, {
                        path: '/',
                        childrenName: '2.課程列表',
                        isactive: false,
                    }, {
                        path: '/',
                        childrenName: '3....',
                        isactive: false,
                    }]
                }, {
                    path: '',
                    name: '報表',
                    dataTargetName: 'collapseReport',
                    children: [{
                        path: '/',
                        childrenName: '1.學生報表',
                        isactive: true,
                    }, {
                        path: '/',
                        childrenName: '2.課程報表',
                        isactive: false,
                    }, {
                        path: '/',
                        childrenName: '3.時間報表',
                        isactive: false,
                    }, {
                        path: '/',
                        childrenName: '4.系統報表',
                        isactive: false,
                    }]
                }]
            }
        },
        mounted() {
            console.log('mounted subMenu');
        },
        methods: {
            /** 登出 */
            logout() {
                $.blockUI({ message: '<h1>處理中請稍候…</h1>' });
                window.location = '@Url.Action("Logout")';
            },
        },
    }).mount('#page-top')
</script>


